@use '../../../scss/colors' as v;

.aside{
    width: 100%;
    height: 100%;
    padding: 20px 0 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    border-right: 1px solid v.$border-color;

    & > *{
        &:last-child{
            margin-top: auto;
        }
    }
}