

.content{
    width: 100%;
    display: flex;
    flex-direction: column;

    &__group{
        display: flex;
        align-items: center;
        gap: 20px;

        & > div{
            width: auto;
        }
    }

    &__form{
        width: 100%;
        padding-bottom: 38px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__wrapper{
            display: flex;
            align-items: flex-start;
            gap: 20px;

            & > div{ 
                &:first-child{
                    width: 100%;
                    flex-grow: 1;
                }

                &:nth-child(2){
                    width: 220px!important;
                }
            }
        }

        &__grid{
            width: 100%;
            display: flex;
            gap: 20px;

            & > div:nth-child(2){
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }

        &__times{
            display: flex;
            gap: 11px;
            align-items: flex-start;

            &__input{
                display: flex;
                flex-direction: column;
                gap: 10px;
                flex-grow: 1;

                & > label{
                    width: 100%;
                }
            }

            &__picker{
                display: flex;
                gap: 2px;
            }
        }
    }

}

.tags{
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.tag{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;    
    cursor: pointer;
}

.active__btn{
    color: #F3715B!important;
}