.scrollbtn{
    position: absolute;
    bottom: -100%;
    right: 16px;
    transition: all 0.5s;
    
    & > div{
        width: 40px;
        height: 40px;
        background: white;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    & > div > svg {
        transform: translateY(1px);
    }

    &__notification{
        position: absolute;
        top: 0;
        left: 50%;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: #F35034;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        transform: translate(-50%, -50%);
    }
}

.open{
    bottom: 16px;
}

.close{
    bottom: -100%;
}