.users{
    display: flex;
    align-items: center;
    gap: 7px;
    flex-wrap: wrap;
    max-height: 134px;
    overflow-y: auto;

    &::-webkit-scrollbar{
        width: 3px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: rgba(0, 0, 0, 0.527);
        border-radius: 2px;
    }
}