.aside{
    margin-top: 88px;
    padding: 25px 30px;
    background: #FFFFFF;
    border-radius: 10px;
    height: 100px;
    
    &__title{
        font-size: 11px;
        line-height: 15px;
        margin-bottom: 10px;
        display: block;
    }

    &__list{
        margin: 15px 0 30px;
    }

    &__configList{
        display: flex;
        flex-direction: column;
        gap: 13px;
        margin-bottom: 34px;

        & > p{
            margin-bottom: 0;
        }
    }

    &__dataList{
        display: flex;
        align-items: center;
        gap: 9px;

        & > *{
            max-width: 103px;
        }
    }
}
