
.btn{
    padding: 5px 10px;
    border: 1px solid rgba(11, 33, 43, 0.7);
    border-radius: 40px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: rgba(11, 33, 43, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    opacity: 0.5;
    cursor: pointer;
}

.active{
    color: #F3715B;
    border-color: #F3715B;
    opacity: 1;

    & > svg > path {
        fill: #F3715B;
    }
}