.btn {
    padding: 11px 23px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    background: #FFFFFF;
    border-radius: 41px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .btn {
        display: none;
    }
}