.btn{
    padding: 11px 23px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    background: #FFFFFF;
    border-radius: 41px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}