
.label{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    font-size: 11px;
    line-height: 15px;

    &__wrapper{
        display: flex;
        align-items: center;
        gap: 10px;

        & > div > span{
            display: flex;
        }

        & > div > span > div{
            width: 100%!important;
            height: 100%!important;
            display: flex;  
            align-items: center;
            justify-content: center;

            & > div{
                font-size: 15px!important;
            }
        }
    }

    & > input{
        width: 100%;
        border: 1px solid rgba(11, 33, 43, 0.2);
        background: transparent;
        border-radius: 5px;
        padding: 11px 15px;
        font-weight: 500;
        font-size: 15px;
        line-height: 21px;

        &::placeholder{
            opacity: 0.4;
        }

        &:focus{
            outline: none;
            border: 1px solid #0B212B;
        }
    }

    & > span{
        color: red;
    }
}