.avatar{
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.lg{
    width: 120px;
    & > img{
        width: 100%;
        height: 100%;
    }
}