@import "/src/scss/colors";
@import "../public/fonts/fonts.css";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");


html {
  font-size: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  // text-decoration: none;
  color: $text-color;
}

body{
  max-height: 100vh;
  overflow: hidden;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
}

h1,
h2, 
h3, 
h4, 
h5, 
h6, 
p{
  margin: 0;
  padding: 0;
}

.ant-btn-primary > span, .jodit-ui-button__text{
  color: white;
}

.ant-picker-focused{
  border-color: $green-color!important;
  box-shadow: 0 0 2px $green-color;
}

.ant-picker-clear{
  left: 0px!important;
  width: 11px;
  height: 11px;

  & > *, & >* > *{
    width: 100%;
    height: 100%;
  }
}

.fr-btn-grp{
  margin: 0!important;
}

.fr-toolbar, .fr-wrapper, .fr-second-toolbar{
  background: $bg-color!important;
}

.fr-second-toolbar{
  border-top: 1px solid $border-color;
}
.fr-toolbar{
  border-bottom: 1px solid $border-color!important;
}

.ant-select{
  width: 100%!important;
  height: auto!important;
  display: flex;
  align-items: flex-end;
  border: 1px solid rgba(11, 33, 43, 0.2);
  border-radius: 5px;

   & > div{
    margin-top: auto;
   }
}

.ant-select-selector{
  background: transparent!important;
  padding: 14px 15px !important;
  border: none!important;
  display: flex;
  align-items: center;
  max-height: 43px;
  height: 100%!important;
  box-shadow: none!important;
}

.ant-select-focused{
  border-color: $green-color!important;
  box-shadow: 0 0 2px $green-color;
}

.lettered-avatar-wrapper{
  flex-shrink: 0;
}