@use "../../scss/colors"as v;

.auth {
    background: v.$green-color;
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 66px 86px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media only screen and(max-width:600px) {
        padding: 30px 26px;
    }

    &__logo {
        margin-bottom: 60px;
    }

    &__desc {
        max-width: 360px;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
        opacity: 0.6;
        margin-bottom: 30px;
        font-family: 'Noto Sans condensed';

        @media only screen and(max-width:1350px) {
            max-width: 330px;
            font-size: 22px;
            line-height: 26px;
        }

        @media only screen and(max-width:1140px) {
            max-width: 270px;
            font-size: 18px;
            line-height: 22px;
        }

        @media only screen and(max-width:920px) {
            max-width: 250px;
            font-size: 16px;
            line-height: 20px;
        }

        @media only screen and(max-width:880px) {
            width: 100%;
            max-width: 400px;
        }

        @media only screen and(max-width:700px) {
            font-size: 14px;
            line-height: 18px;
        }

        @media only screen and(max-width:600px) {
            margin-bottom: 20px;
        }

    }

    &__bgimage {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
    }

    &__help {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        gap: 8px;

        &__text {
            font-weight: 500;
            font-size: 11px;
            line-height: 15px;
            color: #FFFFFF;
            opacity: 0.4;
        }

        &__link {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: #FFFFFF;
        }
    }

    &::after {
        content: '';
        position: absolute;
        bottom: -21%;
        right: -3%;
        background-image: url('/globus.svg');
        background-repeat: no-repeat;
        width: 656px;
        height: 656px;
        z-index: 1;
    }
}